#content-sec{
    background-image: url(../imgs/egy.jpg);
    background-position: center;
    background-size: cover;
}

.form-control {
    color: #fff  !important;;
    background-color: #212529  !important;;
    border: #212529  !important;;
   
}

.form-control::placeholder{
    color: #bfc1c8  !important;
    font-size: 0.9rem !important;
}

.btn{
     position:absolute;
    right:0.7rem;
    top:0.5rem;
}

#footer-sec{
    background-color: #262936;
    padding: 5rem 0rem 3rem  0rem;
}

.icns{
    padding-left: 8rem;
    color: #009ad8;
}

.fa-brands{
    background-color: #212529;
    padding :0.6rem;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: 0.2s;
}

.fa-brands:hover{
    background-color: #009ad8;
    color: #fff;
}

.bg-sec-2{
    background-color: #212529;
    position:absolute;
    top:17rem;
    left:0;
    right:0;
    bottom:0;
    padding:8rem 0rem;
}